.row1{
    display: grid;
    grid-template-columns: 7% 70% 7% 7% 7%;
    padding-top: 10px;
    padding-left: 50px;
}
.p1 {
     position: absolute  ;
     top: 200px;
     padding-left: 80px ;
     color: white;
     font-size: 50px;


}
.p2 {
    position: absolute;
    top: 250px;
    padding-left: 80px ;
    color: white;
    size: 20px;


}
.pic1 img{
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    background-size: 100%;

} 
.hand {
    padding-left: 80px;
}
.pt2{
    padding-left: 380px;
    top: px;
    
}
}
